{% extends "::layout.html.twig" %}

{% set currentPage = 'admin' %}

{% block body %}
<section>
    {% for key, flash in app.session.flashes %}
    <div class="alert alert-{{ key }}">
        {{ flash|trans }}
    </div>
    {% endfor %}

    <header>
        <h1>{% block sectionTitle %}{% trans %}admin.title.bundle{% endtrans %}{% endblock %}</h1>
    </header>
    {% block admin %}
    {% endblock %}
</section>
{% endblock %}